* {
    padding: 0%;
    margin: 0%;
    overflow-x: hidden;
  }
  
  body {
    display: block;
    margin: 0px;
  }
  
  .header {
    width: 100vw;
    height: 10vh;
    position: fixed;
    z-index: 10;
    padding: 5px;
    background-color: darkcyan;
  }
  
  .header nav {
    float: right;
    margin-top: 1%;
    margin-right: 15px;
  }
  
   nav a {
    text-decoration: none;
    padding-top: 20px;
    font-size: 25px;
    margin-right: 16px;
    color:white;
    padding: 15px;
  
  }
  
  a:-webkit-any-link {
  
    cursor: pointer;
  
  }
  
  main {
    display: block;
    unicode-bidi: isolate;
  }
  
  #home {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  section {
    unicode-bidi: isolate;
  }
  
  .text-1 {
    width: 300px;
    height: 110px;
    background-color: rgb(88, 172, 177);
    border-radius: 10%;
    animation: rotate 2s infinite;
    position: absolute;
    left: 35%;
    top: 45%;
    font-size: 40px;
    text-align: center;
  }
  
  h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
  }
  @keyframes rotate{
    40% {
      transform: translatex(-150px);
  }
  }
  .text-2 {
    position: absolute;
    left: 35%;
    top: 63%;
    font-size: 30px;
  }
  
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
  }
  
  .apple{
  
    left: 20%;
    top: 5%;
  }
  
  .apple{
    position: relative;
    border-radius: 80%;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(13, 192, 81, 0.2);
    animation: lighting 5s infinite alternate;
  }
  
  
  .apple img {
    width: 400px;
    border-radius: 20px;
    transition: all 1s ease-in-out;
  }
  
  
  @keyframes lighting {
  
    50% {
        box-shadow: 0 0 300px  rgb(88, 172, 177);
        filter: brightness(1.3);
    }
  }
  
  
  .apple:hover{
    /* animation: none; */
    box-shadow: 0 0 100px rgba(221, 9, 192, 0.8);
    filter: brightness(1.5);
  }
  
  
  div {
    display: block;
    unicode-bidi: isolate;
  }
  
  
  
  .photo{
    width: 300px;
    height: 400px;
    border-radius: 80%;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  
  img {
    overflow-clip-margin: content-box;
    overflow: clip;
  }
  
  /* About */
  
  #about {
    width: 100vw;
    height: 100vh;
  }
  * {
    padding: 0%;
    margin: 0%;
  }
  
  .About-1{
    font-size:50px;
    position: absolute;
    color:black;
   left: 47%;
   top: 120%;
  }
  
  
  section {
    display: block;
    unicode-bidi: isolate;
  }
  
  
  .gallery-1 img {
    position: absolute;
    left: 2%;
    top: 130%;
    background-color: white;
    border-radius:80%;
    box-shadow: 0 0 50px rebeccapurple;
  
  }
  
  @keyframes yuva{
  
    50% {
        box-shadow: 0 0 300px  rgb(88, 172, 177);
        /* filter: brightness(1.3); */
    }
  }
  
  
  .gallery-1 img:hover{
  
    animation: none;
    border-radius: 80%;
    box-shadow: 0 0 50px rgba(31, 236, 4, 0.8);
    filter: brightness(1.5);
  
  }
  
  div {
    display: block;
    unicode-bidi: isolate;
  }
  
  
  .photo-1 {
    width: 340px;
    height: 400px;
    /* position: relative; */
    margin:0px ;
    border-radius: 80%;
    background-color: white;
    box-shadow: 19 10px 40px rgba(12, 80, 183, 0.7);
    transition: transform 0.3s, box-shadow 0.3s;
    /* animation: yuva 5s infinite alternate; */
  }
  
  img {
    overflow-clip-margin: content-box;
    overflow: clip;
  }
  .my {
    position: absolute;
    left: 30%;
    font-size: 35px;
    top: 140%;
  }
  
  div {
    display: block;
    unicode-bidi: isolate;
  }
  
  /* Skill */
  
  #skills{
    height: 100;
   
  }
  
  .skills {
    margin: auto;
    
    
  }
  .sk-1{
  position: absolute;
  font-size: 40px;
  left: 45%;
  
  }
  
  #skills{
    padding: 150px;
    text-align: center;
   
    
    
  }
  .tech {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 400px;
    
  }
  
  .skill-container {
    width: 300px;
    margin: 20px;
    
  }
  .skill{
    margin: 60px 0;
  }
  .skill-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 30px;
    
  }
  .skill-bar {
    background: #333;
    border-radius: 10px;
    overflow: hidden;
    height: 20px;
    position: relative;
    
  }
  .skill-level {
    height: 100%;
    background-color: darkcyan;
    transition: width 0.5s ease;
  }
  /* Individual skill levels */
  .html { width: 60%; }
  .css { width: 60%; }
  .js { width: 30%; }
  .python { width: 30%; }
  .problem-solving { width: 45%; }
  .mysql { width: 40%; }
  .skill-level::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
  }
  
  
  
  /* English Skill */
  .engskill{
    padding-top: 10px;
  }
  .English{
  
    position: absolute;
    font-size: 40px;
    top: 321%;
    left: 42%;
  }
  .eng{
    padding-top: 120px;
    font-size: xx-large;
    text-align: center;
  }
  .change{
    font-size: 23px;
    text-align: center ;
  }
  .y{
    padding-top:30px
  }
  .fle{
    display: flex;
    justify-content: space-evenly;
  }
  
  .star-rating {
    display: flex;
    font-size: 2em;
    color: darkcyan; /* Star color */
  }
  
  /* Life skill */
  
  .main5{
    color: black;
    padding-top: 0em;
   }
   
   .Life{
    position: absolute;
    font-size: 40px;
    top: 410%;
    left: 45%;
   }
     #lifeskills{
       padding-top: 15rem;
     }
     #star1{
       margin-left: 110px;
     }
     #star2{
       margin-left: 110px;
     }
     #star3{
       margin-left: 38pc;
     }
     .abapt{
       display: flex;
       justify-content:space-around;
       text-align: center;
     }
     .social_skill{
       margin-top: 100px;
       text-align: center;
     }
     .abl{
       font-size: xx-large;
     }
     .smsa{
       font-size: xx-large;
     }
     .ss{
       font-size: xx-large;
     }
     .star-rating1{
       display: flex;
       font-size: 4em;
       color: darkcyan; /* Star color */
     }
     .star-rating2{
       display: flex;
       font-size: 4em;
       color: darkcyan; /* Star color */
     }
     .star-rating3{
       display: flex;
       font-size: 4em;
      color: darkcyan; /* Star color */
     }
  
     /* Contact */
     
     #contact {
      height: 100vh;
      width: 100vw;
  }
  
  .con-1{
    position: absolute;
    font-size: 50px;
    left: 42%;
    top: 505%;
  }
  .contact {
    position: relative;
    top: 30%;
    left: 30%;
  }
  .contact h4 {
    font-size: 3em;
    line-height: 100px;
  }
  
  h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
  }